body {
  font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.game-over-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  text-align: center;
  animation-delay: 2s;
  -webkit-animation-delay: 5s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

.game-over-modal-hide {
  display: none;
}

/* The Close Button */
.game-over-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.game-over-modal-body > div > img {
  border-radius: 50%;
  width: 50%;
  background-color: #f48e27;
}

/* Modal Header */
.game-over-modal-header {
  padding: 2px 16px;
  background-color: #f0351c;
  color: white;
  text-align: left;
  height: 60px;
  font-size: 14px;
}

/* Modal Body */
.game-over-modal-body {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
}

.game-over-modal-body-top {
  height: 80%;
}

/* Modal Content */
.game-over-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  max-height: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-width: 650px;
}

button.game-over-action-button {
  color: white;
  font-weight: bold;
  padding: 11% 19%;
  border-radius: 8px;
  border: none;
  background-color: #f0351c;
  border-bottom: #611208;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  outline: none;
}

button.game-over-action-button:hover {
  cursor: pointer;
  outline: none;
  background-color: #f0351c;
}

button.game-over-action-button:active {
  cursor: pointer;
  outline: none;
  background-color: #f0351c;
  border-top: #edf5f7;
  border-top-width: 5px;
  border-top-style: solid;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}

.game-over-message-body {
  background-color: #e5e5e5;
}
