::-webkit-scrollbar {
  display: none;
}

body {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  display: block;
  height: 100vh;
  background: #b2ced6;
}

.game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  min-width: 320px;
  max-width: 812px;
  box-shadow: 0px 0px 25px 0px rgba(196, 196, 196, 0.4);
}

.header-container {
  padding: 0 10px;
  background: #f48e27;
  color: white;
  font-weight: bold;
  align-items: center;
  height: 5%;
  display: flex;
  flex-direction: row;
}

.header-container > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
}

.header-container > div > span {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-container > div > span > img {
  width: 35px;
}

.money-container {
  position: relative;
  top: 0px;
  transition: all 0.4s;
  color: white;
}

.money-container.minus {
  color: red;
  position: relative;
  top: 3px;
}

.energy-container {
  position: relative;
  top: 0px;
  transition: all 0.4s;
  color: white;
}

.energy-container.minus {
  color: red;
  position: relative;
  top: 3px;
}

.stats-container {
  padding: 10px;
  background: white;
  height: 15%;
  display: flex;
  flex-direction: row;
}

.stats {
  width: 30%;
}

.stats > div {
  display: flex;
  align-items: center;
}

.stats > div > img {
  width: 30px;
}

.charts {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.chart-card {
  width: 40%;
  padding: 10px;
  margin-left: 10px;
  background: white;
  box-shadow: 0px 0px 15px 0px rgba(196, 196, 196, 0.4);
}

.chart-title {
  height: 20%;
  font-weight: bold;
  text-align: center;
}

.visual-container {
  height: 40%;
  overflow: scroll;
  background-color: rgb(0, 1, 32);
}

.town-image {
  transition: all 0.5s;
  opacity: 1;
  width: 900px;
}

.town-image.night {
  opacity: 0.1;
}

.actions-container {
  height: 40%;
  background: #ffffff;
}

.sell-bar {
  position: relative;
  top: -15px;
  margin-bottom: -15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  background: #799996;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0px 10px;
}

.products-count {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
}

.products-count > div {
  margin-left: 15px;
}

.products-count > div > span {
  position: relative;
  top: -15px;
}

.cow-icon > img {
  width: 45px;
}

.beef-icon > img {
  width: 45px;
}

.patty-icon > img {
  width: 45px;
}

button.sell-button > img {
  width: 100px;
}

button.sell-button {
  transition: all 0.2s;
  position: relative;
  top: -60px;
  border: none;
  background-color: transparent;
  outline: none;
}

button.sell-button.animate {
  transform: rotate(-1deg) scale(1.05);
  top: -58px;
}

button.sell-button:hover {
  cursor: pointer;
  outline: none;
}

button.sell-button:active {
  outline: none;
  border: none;
}

.actions-list {
  height: 89%;
  overflow: scroll;
  overflow-x: hidden;
}

.actions-card {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 92%;
  background: white;
  box-shadow: 0px 0px 25px 0px rgba(196, 196, 196, 0.4);
}

.actions-header {
  width: "100%";
  border-radius: 5px;
  padding: 3px;
  padding-left: 8px;
  margin: 10px;
  position: relative;
  top: 5px;
}

.actions-header.solo {
  background-color: #d3ffe7;
}

.actions-header.start-up {
  background-color: #c5ffbd;
}

.actions-header.sme {
  background-color: #f0ffac;
}

.actions-header.ipo {
  background-color: #ffd0a1;
}

.actions-header.glc {
  background-color: #ffafaf;
}

.actions-header-text {
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
  color: #434343;
}

.action {
  width: 92%;
  margin: auto;
  display: flex;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  background: #edf5f7;
}

.action-icon {
  width: 13%;
  align-self: center;
  text-align: center;
}

.action-icon > img {
  width: 80%;
}

.action-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 57%;
}

.action-label {
  font-size: 1.15em;
  font-weight: bold;
  text-transform: uppercase;
  color: green;
}

.action-bought {
  position: relative;
  top: -2px;
  left: 2px;
  font-size: 0.6em;
  font-weight: normal;
  text-transform: lowercase;
  color: grey;
}

.action-description {
  font-size: 0.75em;
}

.action-button-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.action-button > div {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-button > div > img {
  width: 40%;
}

button.action-button {
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 6% 14%;
  border-radius: 8px;
  border: none;
  background-color: #f48e27;
  border-bottom: #c46918;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  outline: none;
  display: flex;
  flex-direction: column;
}

button.action-button:hover {
  cursor: pointer;
  outline: none;
  background-color: #f48e27;
}

button.action-button:active {
  cursor: pointer;
  outline: none;
  background-color: #f48e27;
  border-top: #edf5f7;
  border-top-width: 5px;
  border-top-style: solid;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}
